main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.photo{
  height: 80%;
  width: 80%;
}

.con1 {
  align-self: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.con2 {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 100px;
}

.con2 img {
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: transform 0.3s ease;
}

.con2 img:hover {
  transform: scale(1.05);
}


.con3 {
  padding:  3em;
 
}

.con3 h6 {
  font-size: 1.3em;
  margin: 10px 0;
  color: #333;
}

.con3 .btn {

  padding: 8px 20px;
  border-radius: 4px;
  font-size: 0.9rem;
}


.mt-2 {
  margin-top: 20px ;
}


 .con1{
  display: flex;
  justify-content: center;
} 

h3{
  font-size: 2em;
}

.more-card {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-left: 8px;
  width: 30%;

}

.more-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


.more-card h6 {
  font-size: 1rem;
  font-weight: bold;
  color: #555;
  margin-bottom: 8px;
}

.more-card p {
  font-size: 0.95rem;
  color: #333;
  margin: 5px;
}

.more-card hr {
  border-top: 1px solid #e0e0e0;
}


.more-card + h3 {
  font-size: 1.5rem;
  color: #333;
 
}

.no-reviews {
  font-size: 1rem;
  color: #777;
  padding: 10px;
}
