body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  white;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.collapsible {
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    border-left: 3px solid #2c3e50;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    color: #555;
}

.back-to-home {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-to-home:hover {
    background-color: #2980b9;
}
